.toc {
    display: none; //Invisible not on desktop
    @media (min-width: 1200px) { //Julian uses 1300
        display: block; //TODO tinker with
        width: 17.942em;
        position: fixed;
        top: 13.707em;
    //   align-self: start;
        font-size: 16pt;
        border-radius: 0 2px 2px 0;
        -webkit-transition: background-color 350ms;
        transition: background-color 350ms;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 12px;
        letter-spacing: 0.425px;
    }
}

.toc:hover, .toc:focus, .toc:active{
    background-color: #efefef;
    .toc-link {
        transition: visibility 350ms;
        visibility: visible;
    }
}

.toc-element {
    display: block;
}

.toc-link {
    display: block;
    padding: .125rem 0;
    text-decoration: none;
    visibility: hidden;    
    color: #ccc;
}

.toc-link:hover, .toc-link:focus{
    color: #666;
}

li.is-current {
    .toc-link {
        text-decoration: underline;
        color: #6699ff;
    }
    .toc-line{
        border-color: #6699ff;
    }
}

.toc-line {
    display: inline-block;
    width: 2em;
    height: 19px;
    margin-top: -4px;
    margin-right: 11px;
    float: left;
    border-bottom: 2px solid #d9e2e6;
    opacity: .9;
    color: #ebecee;
    font-size: 11px;
    line-height: 2.48em;
    font-weight: 600;
    letter-spacing: 0;
}



html {
    scroll-behavior: smooth;
}