.toc {
    // bg-white fixed hidden lg:flex flex-col rounded p-3 my-3
    display: none; //Invisible not on desktop
    @media (min-width: 1200px) {
        display: block; //TODO tinker with
        width: 20em;
        position: fixed;
        top: 13.707em;
    //   align-self: start;
        font-size: 16pt;
        border-radius: 0 2px 2px 0;
        transition: background-color 350ms;
        padding-top: 10px;
        padding-right: 21px;
        padding-bottom: 12px;
        letter-spacing: 0.425px;
    }
}

.toc:hover, .toc:focus{
    background-color: #efefef;
    .toc-link {
        visibility: visible;
    }
}

.toc-element {
    display: block;
}

.toc-link {
    display: block;
    padding: .125rem 0;
    text-decoration: none;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
    visibility: hidden;    
    color: #ccc;
}

.toc-link:hover, .toc-link:focus{
    display: block;
    color: #666;
}

.toc-link.w-current {
    text-decoration: underline;
}

.toc-line {
    display: inline-block;
    width: 25px;
    height: 19px;
    margin-top: -4px;
    margin-right: 11px;
    float: left;
    border-bottom: 2px solid #d9e2e6;
    opacity: .9;
    color: #ebecee;
    font-size: 11px;
    line-height: 2.48em;
    font-weight: 600;
    letter-spacing: 0;
    border-color: #6699ff;
}



html {
    scroll-behavior: smooth;
}