//TODO golden ratio and standardization across this page too, pretty hacky right now.
//TODO global standardize breakpoints
.hero-main {
    padding-top: 100px;
    color: #594F3B;
    width: 100%;
    display: inline-block;
    font-family: gelo, serif;
    font-weight: 300;
    line-height: 1;
    //Phone
    padding-left: 0.618em;
    font-size: 24px;
    @media (min-width: 600px) { //Tablet
        padding-left: 1.618em;
        font-size: 32px;
    }
    @media (min-width: 1200px){ //Desktop
        font-size: 7rem;
        padding-left: 12%; //TODO fix to golden ratio
    }

    img {
        float: right;
        display: inline-block;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;

        //Phone
        margin-top: 0em;
        margin-right: 1em;
        width: 6.854em;
        //Min for tablet
        @media (min-width: 600px){ //Tablet (between 600px and 1000px)
            width: 11.089em;
            margin-right: 1.618em;
            margin-top: -2em;
        }
        //Min for desktop
        @media (min-width: 1200px){
            width: 11.089em;
            margin-right: 2em;
            margin-top: -2.618em;
        }
    }
}


.label {
    display: table-cell;
}

.typed {
    display: table-cell;
    white-space: nowrap;
    padding: 0;
}

